[Unit]
Description=A rule based proxy in Go for %i.
After=network.target
[Service]
Type=simple
User=%i
Restart=always
ExecStart=/usr/bin/clash
ExecStop="pkill clash"
[Install]
WantedBy=multi-user.target
